scikit-learn>=1.4.0
scikit-image>=0.24.0
scipy>=1.13.0
soundfile>=0.12.1
soxr>=0.5.0
librosa>=0.10.2
sympy>=1.13.0
audio-separator>=0.30.0
pyloudnorm>=0.1.1
nvidia-ml-py
tzdata
onnx>=1.16.0
onnxruntime>=1.16.0
openai>=1.50.0
cffi>=1.16.0
chardet>=5.2.0
sageattention>=1.0.6